[submodule "operating-system-lab/praktikum-modul-1-c13"]
	path = operating-system-lab/praktikum-modul-1-c13
	url = https://github.com/Praktikum-NETICS-2025/praktikum-modul-1-c13.git
[submodule "operating-system-lab/sisop-modul-2-irfansandyy"]
	path = operating-system-lab/sisop-modul-2-irfansandyy
	url = https://github.com/Praktikum-NETICS-2025/sisop-modul-2-irfansandyy.git
[submodule "operating-system-lab/sisop-modul-3-irfansandyy"]
	path = operating-system-lab/sisop-modul-3-irfansandyy
	url = https://github.com/Praktikum-NETICS-2025/sisop-modul-3-irfansandyy.git
[submodule "numerical-computation"]
	path = numerical-computation
	url = https://github.com/irfansandyy/numerical-computation-practicum.git
[submodule "operating-system-lab/sisop-modul-4-irfansandyy"]
	path = operating-system-lab/sisop-modul-4-irfansandyy
	url = https://github.com/Praktikum-NETICS-2025/sisop-modul-4-irfansandyy.git
[submodule "operating-system-lab/sisop-final-praktikum-irfansandyy"]
	path = operating-system-lab/sisop-final-praktikum-irfansandyy
	url = https://github.com/Praktikum-NETICS-2025/sisop-final-praktikum-irfansandyy.git
[submodule "artificial-intelligence-concept/problem-turis-romania-irfansandyy"]
	path = artificial-intelligence-concept/problem-turis-romania-irfansandyy
	url = https://github.com/kka-e-25/problem-turis-romania-irfansandyy.git
